<h2>Résumé de Mai 2012</h2>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th colspan="2" style="text-align: center">Dépenses</th>
        </tr>
        <tr>
            <th>Utilisateur</th>
            <th>Montant</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Marion</td>
            <td>118&#8364;</td>
        </tr>
        <tr>
            <td>Maxime</td>
            <td>100&#8364;</td>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center">Avances</th>
        </tr>
        <tr>
            <td>Marion</td>
            <td>51&#8364;</td>
        </tr>
        <tr>
            <td>Maxime</td>
            <td>93&#8364;</td>
        </tr>
    </tbody>
</table>
<h1>Marion doit <a href="#" rel="popover" data-content="Dépenses :<br />118-100=9/2=9 -> Maxime doit 9&#8364; à Marion<br />Avances :<br />93-51=42 -> Marion doit 42&#8364; à Maxime<br />Total :<br />42-9=33 -> Marion doit 33&#8364; à Maxime" data-original-title="Détail du calcul" data-placement="top">33&#8364;</a> à Maxime.</h1>
